<footer class="footer bg-dark py-3 mt-auto ">
    <div class="container ">
        <span class="text-muted "> &copy; YelpCamp 2021 by <a href="https://github.com/rahimasalman" class="text-decoration-none text-white-50">Rahima Salman</a></span>
    </div>
</footer>