<% layout('layouts/boilerplate')%>

<div class="row justify-content-center mt-4">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5">
        <div class="card shadow">
            <img src="https://res.cloudinary.com/rahima/image/upload/v1646131779/YelpCamp/--grs8iMGqQE-_bkmsnm.jpg"
                alt="" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" class="validate-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter username</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter password</div>
                    </div>
                    <div class="mb-3 d-grid">
                        <button class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
